
<IfModule mod_rewrite.c>  
RewriteEngine on  
RewriteRule ^/login$ /login.php
RewriteRule ^create$ /create.php
RewriteRule ^admin$ /admin.php
RewriteRule ^admin\?(.*)$ /admin.php?$1 [QSA,L]
</IfModule>